<button class="btn btn-primary"><%= link_to 'Logout', session_path, method: :delete %></button> 
<button class="btn btn-success back"><%= link_to 'Back To Classes', messages_path %></button>
<section id="comments" data-channel="comments" data-message-id="<%= message.id %>">
  <%= render message.comments %>
</section>
<%= render 'comments/new', message: message %>